{% extends 'base.html' %}

{% block content %}
<h2>Task Detail</h2>
<p><strong>Title:</strong> {{ task.title }}</p>
<p><strong>Description:</strong> {{ task.description }}</p>
<p><strong>Created At:</strong> {{ task.created_at }}</p>
<p><strong>Due Date:</strong> {{ task.due_date }}</p>
<p><strong>Status:</strong> {% if task.completed %} Completed {% else %} Pending {% endif %}</p>


<a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit Task</a>
<a href="{% url 'task_list' %}" class="btn btn-primary">Back to Task List</a>
{% endblock %}
