{% extends 'base.html' %}

{% block content %}
<h2>Task List</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Add Task</button>
</form>

<ul class="list-group mt-3">
    {% for task in tasks %}
    <li class="list-group-item">
        <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
        {% if task.completed %}
        <span class="badge badge-success">Completed</span>
        {% else %}
        <span class="badge badge-warning">Pending</span>
        {% endif %}
        <p class="d-inline">Due : {{ task.due_date }}</p>
        <form method="post" action="{% url 'mark_completed' task.id %}" class="d-inline float-right">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm">Completed</button>
        </form>
        <a href="{% url 'task_delete' task.id %}" class="btn btn-danger btn-sm float-right mx-2 ml-2">Delete</a>
    </li>
    {% empty %}
    <li class="list-group-item">No tasks yet.</li>
    {% endfor %}
</ul>
{% endblock %}
